
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #00000F;
  background-image: url("dolmen_bg.png");
  background-position-x: center;
  background-position-y: 10px;
  background-repeat: no-repeat;
  font-family: "Tempus Sans ITC";
  color: #E0E0E0;
  overflow: hidden;
}

#title {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

#container {
  margin: 0px auto 0px auto;
  min-width: 820px;
  padding: 7px 7px 200px 7px;
  width: 820px;
}

.timer {
  background-color: rgba(0, 0, 15, 0.75);
  border-color: #8EA6D7;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  margin: 0px 0px 0px 16px;
  padding: 7px 7px 15px 7px;
  width: 230px;
}

.location p {
  font-size: 24px;
  text-align: center;
}

.ctrls {
  text-align: center;
}
  .ctrls button {
    background-color: #00000F;
    cursor: pointer;
  }

.ctrls-start {
  background-image: url("pinion.png");
  height: 129px;
  margin: 0px 0px 11px 0px;
  width: 181px;
}

.ctrls-adjust button {
  border: 1px solid #20202F;
  color: #505050;
  margin: 0px 7px 0px 7px;
  padding: 1px 0px 1px 0px;
  width: 35px;
}
  .ctrls-adjust button:hover {
    border: 1px solid #707070;
    border-radius: 3px;
    color: #E0E0E0;
  }
  .ctrls-adjust button:focus {
    outline: none;
  }

.remaining {
  font-size: 32px;
  text-align: center;
}

.record {
  font-size: 15px;
}
.rows {
}
.rows tr th {
  color: #909090;
  text-decoration: underline;
}
  .rows tr td:nth-child(2n) {
    letter-spacing: 1px;
  }


#rows-event-one, #rows-event-two, #rows-event-three {
  text-align: left;
  width: 150px;
}
#rows-time-one, #rows-time-two, #rows-time-three {
  text-align: left;
}




/* ********** */


#diag {
  bottom: 30px;
  color: #E0E0E0;
  display: none;
  height: 100px;
  left: 32px;
  outline: 2px solid #8EA6D7;
  padding: 3px;
  position: absolute;
  width: 244px;
}





