
html, body, #container {
  height: 100%;
  width: 100%;
}

body {
  background-color: #00000F;
  overflow: hidden;
  user-select: none;

  -webkit-user-select: none;
}


#title {
  left: 30px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 30px;
  user-select: none;
  z-index: 10;

  -webkit-user-select: none;
}
  #title li {
    cursor: default;
    display: inline-block;
    font-family: 'Wendy One', sans-serif;
    font-size: 72px;
    list-style-type: none;
    padding: 0px 7px 0px 7px;
    text-shadow: 
      5px 5px 15px #7562FF, 
      -1px -1px 3px rgba(116, 98, 255, 0.5);
  }


#canvas {
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: 5;
}

#info {
  background-color: rgba(0, 0, 15, 0.4);
  border: 2px solid #303030;
  border-radius: 3px;
  bottom: 21px;
  display: none;
  height: 375px;
  left: 21px;
  padding: 9px 5px 5px 5px;
  position: absolute;
  width: 250px;
  z-index: 10;
}

.info-tabs {
  list-style: none;
  margin: 0px 0px -2px 0px;
  padding: 0px 0px 0px 0px;
}

.info-tab {
  border-color: #303030;
  border-radius: 3px 3px 0px 0px;
  border-style: solid;
  border-width: 2px 2px 0px 2px;
  cursor: pointer;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  z-index: 10;
}
  .info-tab a {
    color: #52527B;
    padding: 0px 7px 0px 7px;
    text-decoration: none;
  }
    .info-tab a:hover {
      color: #7878AF;
    }
    .info-tab a:visited {
      color: #52527B;
    }

.activetab {
  background-color: rgba(26, 26, 26, 0.8);
  border-bottom: 3px solid #141417;
}
  .activetab a {
    color: #7878AF;
  }



.info-pane {
  border-radius: 0px 3px 3px 3px;
  color: #52527B;
  display: none;
  height: 325px;
}

.activepane {
  background-color: rgba(26, 26, 26, 0.8);
  border-color: #303030;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  display: block;
}




.info-section {
  height: 30px;
  /*outline: 1px solid red;*/
  margin: 20px 0px 0px 0px;
  padding: 3px 3px 3px 3px;
  position: relative;
}

.info-cat {
  display: inline-block;
  font-weight: bold;
  height: 23px;
  left: 5px;
  /*outline: 1px solid green;*/
  padding: 7px 0px 0px 15px;
  position: absolute;
  width: 100px;  
}
  .info-cat span {
      cursor: pointer;
      font-size: 18px;  
  }
    .info-cat span:hover {
      color: #7878AF;
    }


.info-ctrls {
  display: inline-block;
  height: 28px;
  right: 11px;
  margin: 0px 0px 0px 0px;
  /*outline: 1px solid blue;*/
  position: absolute;
  width: 91px;
}
  
.info-btn {
  border: 2px solid #303030;
  border-radius: 3px;
  color: #303030;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 17px;
  /*outline: 1px solid red;*/
  padding: 2px 0px 0px 0px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 33px;
}
  .info-btn:hover {
    border: 2px solid #52527B;
    color: #7878AF;
  }

.info-on {
  left: 5px;
}
.info-off {
  right: 5px;
}

.activebtn {
  background-color: #7878AF;
  border: 2px solid #7878AF;
  color: #00000F;
}
  .activebtn:hover {
    background-color: #7878AF;
    border: 2px solid #7878AF;
    color: #00000F;
  }


.info-palette {
  cursor: default;
  margin: 25px 0px 0px 0px;
  /*outline: 1px solid #C00000;*/
  padding: 3px 2px 3px 4px;
}

.info-palette-cat span {
  font-size: 18px;
  font-weight: bold;
  padding: 0px 0px 0px 15px;
}




.info-palette-select {
  height: 27px;
  margin: 5px 0px 0px 8px;
  overflow: hidden;
}
  .info-palette-select select {
    background: transparent;
    border-color: #52527B;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    color: #52527B;
    font-weight: bold;
    height: 27px;
    padding: 3px 3px 3px 3px;
    width: 220px;
  }
    .info-palette-select select:focus {
      border-color: #52527B;
      border-style: solid;
      border-radius: 5px;
      border-width: 1px;
      outline: none;
    }



.info-palette-swatches {
  margin: 9px 0px 0px 0px;
  padding: 0px 0px 0px 4px;
}

.info-palette-swatch {
  display: inline-block;
  height: 10px;
  margin: 0px 0px 0px 4px;
  outline: 1px solid #505050;
  width: 10px;
}



.info-palette-rgba {
  
  height: 40px;
  /*outline: 1px solid #AA0000;*/
  padding: 15px 0px 0px 7px;
}
  .info-palette-rgba span {
    /*outline: 1px solid #00AA00;*/
    margin: 7px 0px 0px 7px;
    padding: 3px;
    font-size: 18px;
  }
#info-palette-rgba-r {
  color: #CC0000;
}
#info-palette-rgba-g {
  color: #00CC00;
}
#info-palette-rgba-b {
  color: #0000CC;
}



.act-btn{
  cursor: pointer;
  height: 11px;
  left: 5px;
  position: absolute;
  width: 11px;
  z-index: 10;
}
#act-btn-nav{
  top: 5px;
}
#act-btn-info{
  bottom: 5px;
}








.info-status {
  color: #52527B;
  font-size: 14px;
  margin: 7px 0px 0px 7px;
}
#info-status.fps {
  padding: 0px 0px 0px 3px;
}








